@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Special+Elite&display=swap');

:root {
    --gray: #FFFFFF;
    --red: #500000;
    --white: #d9d9d9;   
  }
  

@layer base {
    h1 {
       @apply font-['Special_Elite'] text-[80px] md:text-[120px] opacity-40 animate-pulse 
    }
    h2 {
        @apply font-['Special_Elite'] text-[#500000] text-[20px] md:text-[40px] opacity-100
     }
     p {
        @apply font-['Open_Sans'] text-[18px] md:text-[24px] opacity-100
     }
     a {
        @apply font-['Open_Sans'] text-[#500000] text-[18px] md:text-[24px] opacity-100
     }
    button {
        @apply border-4 border-double w-32 mx-auto py-2 px-4 text-2xl font-bold opacity-40 hover:bg-black hover:opacity-75 hover:scale-105 hover:shadow-lg hover:cursor-pointer  duration-200 
    }

}

body {
    background: black;
}

.bg-1 {
    background-image: url('./assets/Crowd_2.png');
    background-position-y: 40px;
 }
 .modal-bg {
    background-image: url('./assets/Crowd_1.png');
 }